.list {
  border: 2px solid #f3c99d;
  margin-top: 10px;
  width: 320px;
  padding: 5px;
  border-radius: 12px;
  list-style: none;
  text-align: start;
  color: white;
}

.delete-btn {
  position: relative;
  left: 300px;
  top: -18px;
}

.delete-btn:hover {
  color: red;
}

.center {
  height: 6px;
}
